Repository akirasosa/claude-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, type-coverage

biome-check:
  name: Biome check
  entry: bun run lint:fix
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript check
  entry: bun run typecheck
  language: system
  pass_filenames: false

type-coverage:
  name: Type coverage check
  entry: bun run type-coverage
  language: system
  pass_filenames: false

Add Tailwind CSS v4 to claude-monitoring Web UI (#50)
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/public/index.html
  plugins/claude-monitoring/web/public/style.css
  plugins/claude-monitoring/web/public/style.css.backup
  plugins/claude-monitoring/web/src/styles/input.css
Due: biome-check

Revamp tmux-worktree skill as Manager Mode
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/skills/tmux-worktree/SKILL.md
Due: biome-check

Rename skill to orchestrator-mode
  plugins/tmux-worktree/skills/orchestrator-mode/SKILL.md
Due: none

Revamp tmux-worktree skill as Orchestrator Mode (#52)
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/skills/orchestrator-mode/SKILL.md
  plugins/tmux-worktree/skills/tmux-worktree/SKILL.md
Due: biome-check

Improve Orchestrator Mode to delegate research tasks, not just implementation
  plugins/tmux-worktree/skills/orchestrator-mode/SKILL.md
Due: none

docs: Add comprehensive guide for plugin skill slash command visibility issue
  docs/known-issues/plugin-skill-slash-command-visibility.md
Due: none

Improve Orchestrator Mode to delegate research tasks, not just implementation (#53)
  plugins/tmux-worktree/skills/orchestrator-mode/SKILL.md
Due: none

docs: Add comprehensive guide for plugin skill slash command visibility issue (#54)
  docs/known-issues/plugin-skill-slash-command-visibility.md
Due: none

refactor(tmux-worktree): Convert orchestrator-mode skill to command
  docs/known-issues/plugin-skill-slash-command-visibility.md
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: biome-check

refactor(tmux-worktree): Convert orchestrator-mode skill to command (#55)
  docs/known-issues/plugin-skill-slash-command-visibility.md
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: biome-check

feat(tmux-worktree): Add worker→orchestrator auto-notification
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

feat(tmux-worktree): Add worker→orchestrator auto-notification (#56)
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

Revert "feat(tmux-worktree): Add worker→orchestrator auto-notification (#56)"
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

fix(claude-monitoring): Add Tailwind CSS build output to .gitignore
  .gitignore
  plugins/claude-monitoring/web/public/style.css
Due: none

fix(claude-monitoring): Add Tailwind CSS build output to .gitignore (#58)
  .gitignore
  plugins/claude-monitoring/web/public/style.css
Due: none

docs: Restructure Claude Code memory configuration based on best practices
  .claude/CLAUDE.md
  .claude/rules/plugin-development.md
  .claude/rules/plugin-manifest.md
  .claude/rules/quality.md
  .claude/rules/typescript.md
  .pre-commit-config.yaml
  docs/claude-memory-best-practices.md
Due: none

docs: Restructure Claude Code memory configuration based on best practices (#59)
  .claude/CLAUDE.md
  .claude/rules/plugin-development.md
  .claude/rules/plugin-manifest.md
  .claude/rules/quality.md
  .claude/rules/typescript.md
  .pre-commit-config.yaml
  docs/claude-memory-best-practices.md
Due: none

refactor(claude-monitoring): Remove unused /event-log command
  plugins/claude-monitoring/README.md
  plugins/claude-monitoring/commands/event-log.md
  plugins/claude-monitoring/src/cli.ts
  plugins/claude-monitoring/web/README.md
Due: biome-check, typescript-check, type-coverage

refactor(claude-monitoring): Remove unused /event-log command (#60)
  plugins/claude-monitoring/README.md
  plugins/claude-monitoring/commands/event-log.md
  plugins/claude-monitoring/src/cli.ts
  plugins/claude-monitoring/web/README.md
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Clarify orchestrator should ask WHAT, not HOW
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: biome-check

fix(tmux-worktree): Refine guidance per review feedback
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

fix(tmux-worktree): Clarify orchestrator should ask WHAT, not HOW (#61)
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: biome-check

feat(tmux-worktree): Add orchestrator-worker notification system
  .gitignore
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/README.md
  plugins/claude-monitoring/src/cli.ts
  plugins/claude-monitoring/src/inbox/inbox.ts
  plugins/claude-monitoring/src/inbox/index.ts
  plugins/claude-monitoring/src/inbox/types.ts
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: biome-check, typescript-check, type-coverage

refactor(claude-monitoring): Remove unused inbox CLI and library
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/README.md
  plugins/claude-monitoring/src/cli.ts
  plugins/claude-monitoring/src/inbox/inbox.ts
  plugins/claude-monitoring/src/inbox/index.ts
  plugins/claude-monitoring/src/inbox/types.ts
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Handle multiple parallel workers in notification
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

fix(tmux-worktree): Handle slashes in branch names for notification
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

refactor(tmux-worktree): Use UUID for notification filename
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

feat(tmux-worktree): Add orchestrator-worker notification system (#62)
  .gitignore
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: biome-check

test: Add notification test comment
  .gitignore
Due: none

fix(tmux-worktree): Return immediately when polling finds notification files
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

fix(tmux-worktree): Return immediately when polling finds notification files (#65)
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

test: Parallel worker 1
  .gitignore
Due: none

test: Parallel worker 2
  README.md
Due: none

revert(tmux-worktree): Remove notification system
  .gitignore
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

revert(tmux-worktree): Remove notification system (#68)
  .gitignore
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

fix(claude-monitoring): Remove unused exports from barrel files
  knip.json
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/src/notification/index.ts
Due: biome-check, typescript-check, type-coverage

fix(claude-monitoring): Remove unused exports from barrel files (#69)
  knip.json
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/src/notification/index.ts
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Bump version to 1.9.1
  plugins/tmux-worktree/.claude-plugin/plugin.json
Due: biome-check

fix(tmux-worktree): Bump version to 1.9.1 (#70)
  plugins/tmux-worktree/.claude-plugin/plugin.json
Due: biome-check

feat(claude-monitoring): Add contextual AI summary indicator to Web UI
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/styles/input.css
Due: biome-check, typescript-check, type-coverage

Path conditions:
  biome-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  typescript-check: any of: \.(ts|mts|cts)$, \.tsx$
  type-coverage: any of: \.(ts|mts|cts)$, \.tsx$
