Repository akirasosa/claude-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, type-coverage

.pre-commit-config.yaml:

repos:
  # Block commits to protected branches
  - repo: local
    hooks:
      - id: block-protected-branch-commit
        name: Block commits to protected branches
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "develop" ]; then echo "❌ ${BRANCH}ブランチへの直接コミットは禁止されています。feature/*ブランチを作成してPRを送信してください。"; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true

  # Common hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Biome for linting and formatting
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check
        entry: bun run lint:fix
        language: system
        types_or: [javascript, jsx, ts, tsx, json]
        pass_filenames: false

      - id: typescript-check
        name: TypeScript check
        entry: bun run typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: bun-audit
        name: Security audit
        entry: bun audit --audit-level=high
        language: system
        pass_filenames: false
        always_run: true

      - id: knip
        name: Knip check
        entry: bun run knip
        language: system
        pass_filenames: false
        always_run: true

      - id: type-coverage
        name: Type coverage check
        entry: bun run type-coverage
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

docs(tmux-worktree): Simplify README for end users
  plugins/tmux-worktree/README.md
Due: none

feat(claude-monitoring): Migrate to browser notifications
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/README.md
  plugins/claude-monitoring/src/notification/dedup.test.ts
  plugins/claude-monitoring/src/notification/dedup.ts
  plugins/claude-monitoring/src/notification/index.ts
  plugins/claude-monitoring/src/notification/platform-notify.ts
  plugins/claude-monitoring/web/README.md
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/notifications.ts
Due: biome-check, typescript-check, type-coverage

refactor: Remove unused notificationShown field
  plugins/claude-monitoring/src/notification/index.ts
Due: biome-check, typescript-check, type-coverage

refactor: Thorough dead code cleanup
  plugins/claude-monitoring/src/notification/index.ts
  plugins/claude-monitoring/web/src/notifications.ts
  plugins/claude-monitoring/web/src/sse.ts
Due: biome-check, typescript-check, type-coverage

feat(claude-monitoring): Migrate to browser notifications (#105)
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/README.md
  plugins/claude-monitoring/src/notification/dedup.test.ts
  plugins/claude-monitoring/src/notification/dedup.ts
  plugins/claude-monitoring/src/notification/index.ts
  plugins/claude-monitoring/src/notification/platform-notify.ts
  plugins/claude-monitoring/web/README.md
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/notifications.ts
  plugins/claude-monitoring/web/src/sse.ts
Due: biome-check, typescript-check, type-coverage

feat(tmux-worktree): Add wait-for-message CLI for real-time notifications
  knip.json
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/scripts/cli/wait-for-message.ts
Due: biome-check, typescript-check, type-coverage

docs(tmux-worktree): Add Testing section to README
  plugins/tmux-worktree/README.md
Due: none

refactor(tmux-worktree): Remove --plugin-dir flag from worker sessions
  plugins/tmux-worktree/src/mcp/tools/start-worktree-session.ts
Due: biome-check, typescript-check, type-coverage

feat(tmux-worktree): Add hook-based orchestrator-worker messaging (#104)
  knip.json
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
  plugins/tmux-worktree/scripts/cli/wait-for-message.ts
  plugins/tmux-worktree/scripts/hooks/detect-pr-completion.ts
  plugins/tmux-worktree/scripts/migrations/001_initial_schema.sql
  plugins/tmux-worktree/src/db/config.ts
  plugins/tmux-worktree/src/db/database.test.ts
  plugins/tmux-worktree/src/db/database.ts
  plugins/tmux-worktree/src/db/index.ts
  plugins/tmux-worktree/src/db/migrations.ts
  plugins/tmux-worktree/src/db/types.ts
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/create-orchestrator.ts
  plugins/tmux-worktree/src/mcp/tools/get-orchestrator-status.ts
  plugins/tmux-worktree/src/mcp/tools/poll-messages.ts
  plugins/tmux-worktree/src/mcp/tools/send-message.ts
  plugins/tmux-worktree/src/mcp/tools/start-worktree-session.ts
Due: biome-check, typescript-check, type-coverage

docs(tmux-worktree): Add troubleshooting section
  plugins/tmux-worktree/README.md
Due: none

feat(tmux-worktree): Add wait_for_messages MCP tool
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/docs/DESIGN-path-resolution.md
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.test.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.ts
Due: biome-check, typescript-check, type-coverage

feat(tmux-worktree): Add wait_for_messages MCP tool (#108)
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/docs/DESIGN-path-resolution.md
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.test.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.ts
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Remove wait_for_messages from allowed-tools to prevent freeze
  bun.lock
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
Due: biome-check

fix(tmux-worktree): Remove wait_for_messages from allowed-tools to prevent freeze (#109)
  bun.lock
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
Due: biome-check

Revert "feat(tmux-worktree): Add wait_for_messages MCP tool (#108)"
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/docs/DESIGN-path-resolution.md
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.test.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.ts
Due: biome-check, typescript-check, type-coverage

feat(tmux-worktree): Restore wait_for_messages MCP tool
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.test.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.ts
Due: biome-check, typescript-check, type-coverage

feat(tmux-worktree): Restore wait_for_messages MCP tool (#110)
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.test.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.ts
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Update version to 3.4.0
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/package.json
Due: biome-check

fix(tmux-worktree): Update version to 3.4.0 (#111)
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/package.json
Due: biome-check

docs: Add Testing section to README
  README.md
Due: none

docs: Add Testing section to README (#112)
  README.md
  plugins/tmux-worktree/README.md
Due: none

fix(tmux-worktree): Remove wait_for_messages from allowed-tools
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

fix(tmux-worktree): Remove wait_for_messages from allowed-tools (#113)
  plugins/tmux-worktree/commands/orchestrator-mode.md
Due: none

fix(tmux-worktree): Revert to polling, remove wait_for_messages
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.test.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.ts
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Revert to polling, remove wait_for_messages (#114)
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.test.ts
  plugins/tmux-worktree/src/mcp/tools/wait-for-messages.ts
Due: biome-check, typescript-check, type-coverage
