Repository akirasosa/claude-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, type-coverage

.pre-commit-config.yaml:

repos:
  # Block commits to protected branches
  - repo: local
    hooks:
      - id: block-protected-branch-commit
        name: Block commits to protected branches
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "develop" ]; then echo "❌ ${BRANCH}ブランチへの直接コミットは禁止されています。feature/*ブランチを作成してPRを送信してください。"; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true

  # Common hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Biome for linting and formatting
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check
        entry: bun run lint:fix
        language: system
        types_or: [javascript, jsx, ts, tsx, json]
        pass_filenames: false

      - id: typescript-check
        name: TypeScript check
        entry: bun run typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: bun-audit
        name: Security audit
        entry: bun audit --audit-level=high
        language: system
        pass_filenames: false
        always_run: true

      - id: knip
        name: Knip check
        entry: bun run knip
        language: system
        pass_filenames: false
        always_run: true

      - id: type-coverage
        name: Type coverage check
        entry: bun run type-coverage
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

feat(claude-monitoring): Add contextual AI summary indicator to Web UI (#71)
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/styles/input.css
Due: biome-check, typescript-check, type-coverage

feat(tmux-worktree): Add MCP server to eliminate permission prompts
  knip.json
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/bun.lock
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/start-worktree-session.ts
  plugins/tmux-worktree/src/mcp/utils/claude-config.ts
  plugins/tmux-worktree/src/mcp/utils/exec.ts
  plugins/tmux-worktree/src/mcp/utils/tmux.ts
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Add @modelcontextprotocol/sdk to root devDependencies
  bun.lock
  package.json
Due: biome-check

docs(tmux-worktree): Update README for MCP tool usage
  plugins/tmux-worktree/README.md
Due: none

chore(tmux-worktree): Remove deprecated scripts/start
  plugins/tmux-worktree/scripts/start
Due: none

feat(tmux-worktree): Add MCP server to eliminate permission prompts (#72)
  bun.lock
  knip.json
  package.json
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/bun.lock
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/package.json
  plugins/tmux-worktree/scripts/start
  plugins/tmux-worktree/src/mcp/server.ts
  plugins/tmux-worktree/src/mcp/tools/start-worktree-session.ts
  plugins/tmux-worktree/src/mcp/utils/claude-config.ts
  plugins/tmux-worktree/src/mcp/utils/exec.ts
  plugins/tmux-worktree/src/mcp/utils/tmux.ts
Due: biome-check, typescript-check, type-coverage

feat(tmux-worktree): Add CLAUDE.local.md symlink to setup-symlinks
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/scripts/setup-symlinks
Due: biome-check

docs(claude-monitoring): Add web UI modernization research document
  plugins/claude-monitoring/docs/web-modernization-research.md
Due: none

feat(tmux-worktree): Add CLAUDE.local.md symlink to setup-symlinks (#73)
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/scripts/setup-symlinks
Due: biome-check

fix(claude-monitoring): Remove summary text truncation in WebUI
  plugins/claude-monitoring/web/src/styles/input.css
Due: none

fix(claude-monitoring): Remove summary text truncation in WebUI (#75)
  plugins/claude-monitoring/web/src/styles/input.css
Due: none

feat(claude-monitoring): Modernize web UI with Vite, shared types, and modular architecture
  .gitignore
  knip.json
  plugins/claude-monitoring/shared/types.ts
  plugins/claude-monitoring/src/types.ts
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/public/style.css.backup
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/api.ts
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/icons.ts
  plugins/claude-monitoring/web/src/index.html
  plugins/claude-monitoring/web/src/render.ts
  plugins/claude-monitoring/web/src/sse.ts
  plugins/claude-monitoring/web/src/storage.ts
  plugins/claude-monitoring/web/src/test/setup.test.ts
  plugins/claude-monitoring/web/src/test/setup.ts
  plugins/claude-monitoring/web/src/types.ts
  plugins/claude-monitoring/web/src/ui.ts
  plugins/claude-monitoring/web/src/utils.test.ts
  plugins/claude-monitoring/web/src/utils.ts
  plugins/claude-monitoring/web/tsconfig.json
  plugins/claude-monitoring/web/vite.config.ts
  plugins/claude-monitoring/web/vitest.config.ts
Due: biome-check, typescript-check, type-coverage

fix(claude-monitoring): Make web tests compatible with CI
  .github/workflows/ci.yml
  plugins/claude-monitoring/web/src/utils.ts
Due: biome-check, typescript-check, type-coverage

fix(claude-monitoring): Fix CI test and type check issues
  .github/workflows/ci.yml
  tsconfig.json
Due: biome-check

fix(claude-monitoring): Replace vi.stubGlobal with globalThis for compatibility
  plugins/claude-monitoring/web/src/test/setup.ts
Due: biome-check, typescript-check, type-coverage

refactor(claude-monitoring): Unify test runners to Bun test
  .github/workflows/ci.yml
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/bunfig.toml
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/src/test/setup.test.ts
  plugins/claude-monitoring/web/src/test/setup.ts
  plugins/claude-monitoring/web/src/utils.test.ts
  plugins/claude-monitoring/web/vitest.config.ts
Due: biome-check, typescript-check, type-coverage

fix(claude-monitoring): Exclude web tests from server-side test run
  .github/workflows/ci.yml
  plugins/claude-monitoring/bunfig.toml
Due: none

feat(claude-monitoring): Modernize web UI with Vite, shared types, and modular architecture (#76)
  .github/workflows/ci.yml
  .gitignore
  knip.json
  plugins/claude-monitoring/bunfig.toml
  plugins/claude-monitoring/docs/web-modernization-research.md
  plugins/claude-monitoring/shared/types.ts
  plugins/claude-monitoring/src/types.ts
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/bunfig.toml
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/public/style.css.backup
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/api.ts
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/icons.ts
  plugins/claude-monitoring/web/src/index.html
  plugins/claude-monitoring/web/src/render.ts
  plugins/claude-monitoring/web/src/sse.ts
  plugins/claude-monitoring/web/src/storage.ts
  plugins/claude-monitoring/web/src/test/setup.test.ts
  plugins/claude-monitoring/web/src/test/setup.ts
  plugins/claude-monitoring/web/src/types.ts
  plugins/claude-monitoring/web/src/ui.ts
  plugins/claude-monitoring/web/src/utils.test.ts
  plugins/claude-monitoring/web/src/utils.ts
  plugins/claude-monitoring/web/tsconfig.json
  plugins/claude-monitoring/web/vite.config.ts
Due: biome-check, typescript-check, type-coverage

Revert "feat(claude-monitoring): Modernize web UI with Vite, shared types, and modular architecture (#76)"
  .github/workflows/ci.yml
  .gitignore
  knip.json
  plugins/claude-monitoring/bunfig.toml
  plugins/claude-monitoring/docs/web-modernization-research.md
  plugins/claude-monitoring/shared/types.ts
  plugins/claude-monitoring/src/types.ts
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/bunfig.toml
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/public/index.html
  plugins/claude-monitoring/web/public/style.css.backup
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/api.ts
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/icons.ts
  plugins/claude-monitoring/web/src/render.ts
  plugins/claude-monitoring/web/src/sse.ts
  plugins/claude-monitoring/web/src/storage.ts
  plugins/claude-monitoring/web/src/test/setup.test.ts
  plugins/claude-monitoring/web/src/test/setup.ts
  plugins/claude-monitoring/web/src/types.ts
  plugins/claude-monitoring/web/src/ui.ts
  plugins/claude-monitoring/web/src/utils.test.ts
  plugins/claude-monitoring/web/src/utils.ts
  plugins/claude-monitoring/web/tsconfig.json
  plugins/claude-monitoring/web/vite.config.ts
  tsconfig.json
Due: biome-check, typescript-check, type-coverage

fix(claude-monitoring): Restore postinstall hook and clean up knip config
  knip.json
  plugins/claude-monitoring/web/package.json
Due: biome-check

feat(claude-monitoring): Modernize web UI with Vite, shared types, and modular architecture
  .github/workflows/ci.yml
  .gitignore
  knip.json
  plugins/claude-monitoring/bunfig.toml
  plugins/claude-monitoring/docs/web-modernization-research.md
  plugins/claude-monitoring/shared/types.ts
  plugins/claude-monitoring/src/types.ts
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/bunfig.toml
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/api.ts
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/icons.ts
  plugins/claude-monitoring/web/src/index.html
  plugins/claude-monitoring/web/src/render.ts
  plugins/claude-monitoring/web/src/sse.ts
  plugins/claude-monitoring/web/src/storage.ts
  plugins/claude-monitoring/web/src/test/setup.test.ts
  plugins/claude-monitoring/web/src/test/setup.ts
  plugins/claude-monitoring/web/src/types.ts
  plugins/claude-monitoring/web/src/ui.ts
  plugins/claude-monitoring/web/src/utils.test.ts
  plugins/claude-monitoring/web/src/utils.ts
  plugins/claude-monitoring/web/tsconfig.json
  plugins/claude-monitoring/web/vite.config.ts
Due: biome-check, typescript-check, type-coverage

fix(claude-monitoring): Fix Vite proxy matching api.ts module
  plugins/claude-monitoring/web/vite.config.ts
Due: biome-check, typescript-check, type-coverage

feat(claude-monitoring): Modernize web UI with Vite, shared types, and modular architecture (v2) (#80)
  .github/workflows/ci.yml
  .gitignore
  knip.json
  plugins/claude-monitoring/bunfig.toml
  plugins/claude-monitoring/docs/web-modernization-research.md
  plugins/claude-monitoring/shared/types.ts
  plugins/claude-monitoring/src/types.ts
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/bunfig.toml
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/api.ts
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/icons.ts
  plugins/claude-monitoring/web/src/index.html
  plugins/claude-monitoring/web/src/render.ts
  plugins/claude-monitoring/web/src/sse.ts
  plugins/claude-monitoring/web/src/storage.ts
  plugins/claude-monitoring/web/src/test/setup.test.ts
  plugins/claude-monitoring/web/src/test/setup.ts
  plugins/claude-monitoring/web/src/types.ts
  plugins/claude-monitoring/web/src/ui.ts
  plugins/claude-monitoring/web/src/utils.test.ts
  plugins/claude-monitoring/web/src/utils.ts
  plugins/claude-monitoring/web/tsconfig.json
  plugins/claude-monitoring/web/vite.config.ts
Due: biome-check, typescript-check, type-coverage

feat(claude-monitoring): Migrate server.ts from native Bun HTTP to Hono framework
  knip.json
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/server.ts
Due: biome-check, typescript-check, type-coverage

fix(knip): Disable vite plugin for web workspace
  knip.json
Due: biome-check

feat(claude-monitoring): Migrate Web UI to Preact
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/components/App.tsx
  plugins/claude-monitoring/web/src/components/CleanupModal.tsx
  plugins/claude-monitoring/web/src/components/ConfirmDialog.tsx
  plugins/claude-monitoring/web/src/components/ConnectionStatus.tsx
  plugins/claude-monitoring/web/src/components/EventRow.tsx
  plugins/claude-monitoring/web/src/components/EventTable.tsx
  plugins/claude-monitoring/web/src/components/FilterToggle.tsx
  plugins/claude-monitoring/web/src/components/Icons.tsx
  plugins/claude-monitoring/web/src/components/StatusBadge.tsx
  plugins/claude-monitoring/web/src/components/Toast.tsx
  plugins/claude-monitoring/web/src/components/index.ts
  plugins/claude-monitoring/web/src/hooks/index.ts
  plugins/claude-monitoring/web/src/hooks/useEvents.ts
  plugins/claude-monitoring/web/src/hooks/useFilterMode.ts
  plugins/claude-monitoring/web/src/hooks/useReadStatus.ts
  plugins/claude-monitoring/web/src/hooks/useToast.ts
  plugins/claude-monitoring/web/src/icons.ts
  plugins/claude-monitoring/web/src/index.html
  plugins/claude-monitoring/web/src/main.tsx
  plugins/claude-monitoring/web/src/render.ts
  plugins/claude-monitoring/web/src/sse.ts
  plugins/claude-monitoring/web/src/ui.ts
  plugins/claude-monitoring/web/tsconfig.json
  plugins/claude-monitoring/web/vite.config.ts
Due: biome-check, typescript-check, type-coverage

feat(claude-monitoring): Migrate server.ts to Hono framework (#81)
  knip.json
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/server.ts
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Remove redundant MCP server namespace
  docs/research/mcp-namespace-improvement.md
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/src/mcp/server.ts
Due: biome-check, typescript-check, type-coverage

chore: Remove research document
  docs/research/mcp-namespace-improvement.md
Due: none

chore(claude-monitoring): Remove unused files and update rules
  .claude/rules/typescript.md
  plugins/claude-monitoring/web/src/components/index.ts
  plugins/claude-monitoring/web/src/storage.ts
Due: biome-check, typescript-check, type-coverage

chore(tmux-worktree): Bump version to 3.0.0
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/src/mcp/server.ts
Due: biome-check, typescript-check, type-coverage

fix(tmux-worktree): Remove redundant MCP server namespace (#84)
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/README.md
  plugins/tmux-worktree/commands/orchestrator-mode.md
  plugins/tmux-worktree/src/mcp/server.ts
Due: biome-check, typescript-check, type-coverage

feat: Implement Bun workspaces for monorepo
  .claude/CLAUDE.md
  .github/workflows/ci.yml
  bun.lock
  knip.json
  package.json
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/tmux-worktree/bun.lock
Due: biome-check

feat: Implement Bun workspaces for monorepo (#85)
  .claude/CLAUDE.md
  .github/workflows/ci.yml
  bun.lock
  knip.json
  package.json
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/tmux-worktree/bun.lock
Due: biome-check

feat(claude-monitoring): Migrate to Lit Web Components framework
  bun.lock
  knip.json
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/components/event-row.ts
  plugins/claude-monitoring/web/src/components/events-table.ts
  plugins/claude-monitoring/web/src/components/index.ts
  plugins/claude-monitoring/web/src/components/status-badge.ts
  plugins/claude-monitoring/web/src/index.html
  plugins/claude-monitoring/web/src/render.ts
  plugins/claude-monitoring/web/tsconfig.json
Due: biome-check, typescript-check, type-coverage

fix(claude-monitoring): Fix table column alignment with display:contents
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/components/event-row.ts
  plugins/claude-monitoring/web/src/components/events-table.ts
  plugins/claude-monitoring/web/src/components/index.ts
  plugins/claude-monitoring/web/src/index.html
Due: biome-check, typescript-check, type-coverage

feat(claude-monitoring): Migrate to Lit Web Components framework (#86)
  bun.lock
  knip.json
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/components/event-row.ts
  plugins/claude-monitoring/web/src/components/index.ts
  plugins/claude-monitoring/web/src/components/status-badge.ts
  plugins/claude-monitoring/web/src/render.ts
  plugins/claude-monitoring/web/tsconfig.json
Due: biome-check, typescript-check, type-coverage

feat(claude-monitoring): Add standalone binary distribution
  .github/workflows/release-claude-monitoring-web.yml
  .gitignore
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/scripts/build-binary.ts
  plugins/claude-monitoring/web/scripts/generate-embed.ts
  plugins/claude-monitoring/web/server-compiled.ts
Due: biome-check, typescript-check, type-coverage

feat(claude-monitoring): Add standalone binary distribution (#89)
  .github/workflows/release-claude-monitoring-web.yml
  .gitignore
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/scripts/build-binary.ts
  plugins/claude-monitoring/web/scripts/generate-embed.ts
  plugins/claude-monitoring/web/server-compiled.ts
Due: biome-check, typescript-check, type-coverage

docs: Add setup guide to README
  README.md
Due: none
