Repository akirasosa/claude-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, typescript-check, type-coverage

.pre-commit-config.yaml:

repos:
  # Block commits to protected branches
  - repo: local
    hooks:
      - id: block-protected-branch-commit
        name: Block commits to protected branches
        entry: bash -c 'BRANCH=$(git branch --show-current); if [ "$BRANCH" = "main" ] || [ "$BRANCH" = "develop" ]; then echo "❌ ${BRANCH}ブランチへの直接コミットは禁止されています。feature/*ブランチを作成してPRを送信してください。"; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true

  # Common hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Biome for linting and formatting
  - repo: local
    hooks:
      - id: biome-check
        name: Biome check
        entry: bun run lint:fix
        language: system
        types_or: [javascript, jsx, ts, tsx, json]
        pass_filenames: false

      - id: typescript-check
        name: TypeScript check
        entry: bun run typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: bun-audit
        name: Security audit
        entry: bun audit --audit-level=high
        language: system
        pass_filenames: false
        always_run: true

      - id: knip
        name: Knip check
        entry: bun run knip
        language: system
        pass_filenames: false
        always_run: true

      - id: type-coverage
        name: Type coverage check
        entry: bun run type-coverage
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

Skip Gemini integration test in CI environment
  plugins/claude-monitoring/src/notification/gemini-language.test.ts
Due: biome-check, typescript-check, type-coverage

Add lint and static analysis setup (#33)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  biome.json
  bun.lock
  knip.json
  package.json
  plugins/claude-monitoring/src/cli.ts
  plugins/claude-monitoring/src/db/config.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/src/db/migrations.ts
  plugins/claude-monitoring/src/notification/config.ts
  plugins/claude-monitoring/src/notification/dedup.ts
  plugins/claude-monitoring/src/notification/gemini-language.test.ts
  plugins/claude-monitoring/src/notification/gemini.ts
  plugins/claude-monitoring/src/notification/index.ts
  plugins/claude-monitoring/src/notification/platform-notify.ts
  plugins/claude-monitoring/web/public/app.js
  plugins/claude-monitoring/web/server.ts
  plugins/tmux-worktree/src/ensure-gtrconfig.ts
  tsconfig.json
Due: biome-check, typescript-check, type-coverage

Add test infrastructure for claude-monitoring plugin
  plugins/claude-monitoring/package.json
  plugins/claude-monitoring/src/__tests__/fixtures/transcripts.ts
  plugins/claude-monitoring/src/__tests__/helpers/db-test.ts
  plugins/claude-monitoring/src/__tests__/helpers/fetch-mock.ts
  plugins/claude-monitoring/src/__tests__/helpers/fs-test.ts
  plugins/claude-monitoring/src/__tests__/index.ts
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/notification/config.test.ts
  plugins/claude-monitoring/src/notification/dedup.test.ts
  plugins/claude-monitoring/src/notification/gemini-language.test.ts
  plugins/claude-monitoring/src/notification/gemini.test.ts
  plugins/claude-monitoring/src/notification/gemini.ts
Due: biome-check, typescript-check, type-coverage

Fix lint errors in test files
  plugins/claude-monitoring/src/__tests__/fixtures/transcripts.ts
  plugins/claude-monitoring/src/__tests__/helpers/db-test.ts
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/notification/dedup.test.ts
Due: biome-check, typescript-check, type-coverage

Fix remaining lint errors and format code
  plugins/claude-monitoring/src/__tests__/helpers/db-test.ts
  plugins/claude-monitoring/src/__tests__/helpers/fs-test.ts
  plugins/claude-monitoring/src/__tests__/index.ts
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/notification/config.test.ts
  plugins/claude-monitoring/src/notification/gemini.test.ts
Due: biome-check, typescript-check, type-coverage

Remove unused test utilities and simplify helpers
  plugins/claude-monitoring/src/__tests__/fixtures/transcripts.ts
  plugins/claude-monitoring/src/__tests__/helpers/fetch-mock.ts
  plugins/claude-monitoring/src/__tests__/helpers/fs-test.ts
  plugins/claude-monitoring/src/__tests__/index.ts
  plugins/claude-monitoring/src/notification/gemini.ts
Due: biome-check, typescript-check, type-coverage

Fix TypeScript errors in test infrastructure
  plugins/claude-monitoring/src/__tests__/helpers/fetch-mock.ts
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/notification/gemini.test.ts
  plugins/claude-monitoring/src/notification/gemini.ts
Due: biome-check, typescript-check, type-coverage

Add test infrastructure for claude-monitoring plugin (#37)
  plugins/claude-monitoring/package.json
  plugins/claude-monitoring/src/__tests__/fixtures/transcripts.ts
  plugins/claude-monitoring/src/__tests__/helpers/db-test.ts
  plugins/claude-monitoring/src/__tests__/helpers/fetch-mock.ts
  plugins/claude-monitoring/src/__tests__/helpers/fs-test.ts
  plugins/claude-monitoring/src/__tests__/index.ts
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/notification/config.test.ts
  plugins/claude-monitoring/src/notification/dedup.test.ts
  plugins/claude-monitoring/src/notification/gemini-language.test.ts
  plugins/claude-monitoring/src/notification/gemini.test.ts
  plugins/claude-monitoring/src/notification/gemini.ts
Due: biome-check, typescript-check, type-coverage

Add process tracking for safer session deletion in Web UI
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/scripts/migrations/006_add_process_pid.sql
  plugins/claude-monitoring/src/cli.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/web/public/app.js
  plugins/claude-monitoring/web/server.ts
Due: biome-check, typescript-check, type-coverage

Add tests for process tracking feature
  plugins/claude-monitoring/src/__tests__/helpers/db-test.ts
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/web/public/app.js
Due: biome-check, typescript-check, type-coverage

Add process tracking for safer session deletion (#35)
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/scripts/migrations/006_add_process_pid.sql
  plugins/claude-monitoring/src/__tests__/helpers/db-test.ts
  plugins/claude-monitoring/src/cli.ts
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/web/public/app.js
  plugins/claude-monitoring/web/server.ts
Due: biome-check, typescript-check, type-coverage

Add .gtrconfig for automatic bun install on worktree creation
  .gitignore
  .gtrconfig
Due: none

Add .gtrconfig for automatic bun install on worktree creation (#38)
  .gitignore
  .gtrconfig
Due: none

Refactor trash button to delete session data instead of ending session
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/web/public/app.js
  plugins/claude-monitoring/web/server.ts
Due: biome-check, typescript-check, type-coverage

Refactor trash button to delete session data instead of ending session (#39)
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/web/public/app.js
  plugins/claude-monitoring/web/server.ts
Due: biome-check, typescript-check, type-coverage

Update CLAUDE.md and rules for recent project changes
  .claude/CLAUDE.md
  .claude/rules/plugin-development.md
  .claude/rules/quality.md
  .claude/rules/testing.md
  .claude/rules/typescript.md
Due: none

Fix .gitignore to properly track .claude/CLAUDE.md and rules/
  .gitignore
Due: none

Update CLAUDE.md and rules for recent project changes (#40)
  .claude/CLAUDE.md
  .claude/rules/plugin-development.md
  .claude/rules/quality.md
  .claude/rules/testing.md
  .claude/rules/typescript.md
  .gitignore
Due: none

Migrate Web UI from JavaScript to TypeScript
  .gitignore
  biome.json
  knip.json
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/types.ts
Due: biome-check, typescript-check, type-coverage

Update CLAUDE.md with new web dev commands
  .claude/CLAUDE.md
Due: none

Migrate Web UI from JavaScript to TypeScript (#41)
  .claude/CLAUDE.md
  .gitignore
  biome.json
  knip.json
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/types.ts
Due: biome-check, typescript-check, type-coverage

Restore CLAUDE.md to minimal router role
  .claude/CLAUDE.md
Due: none

Restore CLAUDE.md to minimal router role (#42)
  .claude/CLAUDE.md
Due: none

Strengthen lint config by upgrading warnings to errors
  biome.json
  knip.json
Due: biome-check

Strengthen lint config by upgrading warnings to errors (#43)
  biome.json
  knip.json
Due: biome-check

Add cleanup button and 'All' tab to Web UI
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/src/types.ts
  plugins/claude-monitoring/web/public/index.html
  plugins/claude-monitoring/web/public/style.css
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/types.ts
Due: biome-check, typescript-check, type-coverage

Add cleanup button and 'All' tab to Web UI (#44)
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/db/index.ts
  plugins/claude-monitoring/src/types.ts
  plugins/claude-monitoring/web/public/index.html
  plugins/claude-monitoring/web/public/style.css
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/types.ts
Due: biome-check, typescript-check, type-coverage

Replace browser confirm() with custom styled dialog
  plugins/claude-monitoring/web/public/index.html
  plugins/claude-monitoring/web/public/style.css
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/types.ts
Due: biome-check, typescript-check, type-coverage

Replace browser confirm() with custom styled dialog (#45)
  plugins/claude-monitoring/web/public/index.html
  plugins/claude-monitoring/web/public/style.css
  plugins/claude-monitoring/web/src/app.ts
  plugins/claude-monitoring/web/src/types.ts
Due: biome-check, typescript-check, type-coverage

Add notification deduplication for Stop and Notification events
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/src/notification/dedup.test.ts
  plugins/claude-monitoring/src/notification/dedup.ts
  plugins/claude-monitoring/src/notification/index.ts
Due: biome-check, typescript-check, type-coverage

Add notification deduplication for Stop and Notification events (#46)
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/src/notification/dedup.test.ts
  plugins/claude-monitoring/src/notification/dedup.ts
  plugins/claude-monitoring/src/notification/index.ts
Due: biome-check, typescript-check, type-coverage

Fix Web UI showing 'unknown' project and missing sessions
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/db/database.ts
Due: biome-check, typescript-check, type-coverage

Fix Web UI showing 'unknown' project and missing sessions (#47)
  plugins/claude-monitoring/.claude-plugin/plugin.json
  plugins/claude-monitoring/src/db/database.test.ts
  plugins/claude-monitoring/src/db/database.ts
Due: biome-check, typescript-check, type-coverage

Fix status badge styling for event types with colons
  plugins/claude-monitoring/web/public/style.css
  plugins/claude-monitoring/web/src/app.ts
Due: biome-check, typescript-check, type-coverage

Fix status badge styling for event types with colons (#48)
  plugins/claude-monitoring/web/public/style.css
  plugins/claude-monitoring/web/src/app.ts
Due: biome-check, typescript-check, type-coverage

Refactor codebase to reduce duplication and improve maintainability
  plugins/claude-monitoring/src/db/cleanup.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/notification/config.ts
  plugins/claude-monitoring/src/notification/gemini-language.test.ts
  plugins/claude-monitoring/src/notification/gemini.ts
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/app.ts
Due: biome-check, typescript-check, type-coverage

Refactor codebase to reduce duplication and improve maintainability (#49)
  plugins/claude-monitoring/src/db/cleanup.ts
  plugins/claude-monitoring/src/db/database.ts
  plugins/claude-monitoring/src/notification/config.ts
  plugins/claude-monitoring/src/notification/gemini-language.test.ts
  plugins/claude-monitoring/src/notification/gemini.ts
  plugins/claude-monitoring/web/server.ts
  plugins/claude-monitoring/web/src/app.ts
Due: biome-check, typescript-check, type-coverage

Add Tailwind CSS v4 to claude-monitoring Web UI
  plugins/claude-monitoring/web/bun.lock
  plugins/claude-monitoring/web/package.json
  plugins/claude-monitoring/web/public/index.html
  plugins/claude-monitoring/web/public/style.css
  plugins/claude-monitoring/web/public/style.css.backup
  plugins/claude-monitoring/web/src/styles/input.css
Due: biome-check

Make tmux-worktree skill user-invocable
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/skills/tmux-worktree/SKILL.md
Due: biome-check

Make tmux-worktree skill user-invocable (#51)
  plugins/tmux-worktree/.claude-plugin/plugin.json
  plugins/tmux-worktree/skills/tmux-worktree/SKILL.md
Due: biome-check
